name: solana-verifier
services:
  db-init:
    build:
      context: .
      dockerfile: ./api/Dockerfile.db-init
    env_file: .env
    command: diesel migration run --migration-dir /migrations
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:18
    platform: linux/amd64
    env_file: .env
    restart: always
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - postgresql:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h localhost -p 5432 -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s

  redis:
    image: redis
    env_file: .env
    restart: always
    ports:
      - "127.0.0.1:6379:6379"
    volumes:
      - redis:/data
    command: /bin/sh -c "redis-server --requirepass $${REDIS_PASSWORD}"
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "redis-cli -a \"$${REDIS_PASSWORD}\" ping | grep -q PONG"
        ]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 5s

  api:
    build:
      context: .
      dockerfile: ./api/Dockerfile
    env_file: .env
    restart: always
    ports:
      - "127.0.0.1:3000:3000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /tmp:/tmp
      - /logs:/logs
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
      db-init:
        condition: service_completed_successfully

volumes:
  postgresql:
  redis:

